#start, #submit{
    background-color: purple;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.answer-button{
    background-color: purple;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}    

.wrapper {
    text-align: center;
}

.highscore{
    color: gray;
    background: none;
    border: none;
}

.time{
    color: gray;
    float: right;
}

.challenge{
    text-align: center;
}

.questions,.end-game{
    display: none;
    height: 200px;
    width: 200px;
}

.question {
    text-align: center;
}

.answer {
    text-align: center;
    background-color: purple;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
}

#time-up{
    text-align: center;
}

.final-page{
    display: none;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }