#start, #submit{
    background-color: purple;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.answer-button{
    background-color: purple;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}    

.wrapper {
    text-align: center;
}

.highscore{
    color: gray;
}

.time{
    color: gray;
    float: right;
}

.challenge{
    text-align: center;
}

.questions, .questions-two, .questions-three, .questions-four, .end-game{
    display: none;
    height: 200px;
    width: 200px;
}

.question {
    text-align: center;
}

.answer {
    text-align: center;
    background-color: purple;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
}

#time-up{
    text-align: center;
}